<!DOCTYPE html>
<html>
  <head>
    <title>Protected</title>
    <link rel="stylesheet" type="text/css" href="./index.css" />
  </head>
  <body>
    <header role="banner">
      Protected
    </header>

    <br>

    <main>
      this is a protected since authorization was successful
    </main>

    <br>
    
    <a href="/logout">Logout locally recommended</a>

    <br>

    <br>
    
    <a href="/logout/idp">Logout locally and from IDP</a>

    <br>

    <br>

    <footer role="contentinfo">
      footer
    </footer>
  </body>
</html>

